html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 0px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.navbar-discipline .navbar-text { color: #333333 !important; }
/*
.navbar-discipline .container-fluid { padding-left: 8px; }
.navbar-discipline .navbar-text { margin-left: 0; }*/

footer {

}
footer a {
    font-weight: bold;
}

.navbar-top {  }

.navbar-top li.active a.navbar-top-help { background: #5bc0de !important; }
/*.navbar-top li.active a.navbar-top-help { color: #3c763d !important; }*/

/*body.body-help [data-toggle=tooltip], body.body-help [data-toggle=tooltip]:hover, body.body-help [data-toggle=tooltip]:active { cursor: help; }
body.body-help [data-toggle=tooltip] *, body.body-help [data-toggle=tooltip] *:hover, body.body-help [data-toggle=tooltip] *:active { cursor: help; }*/

[data-toggle=tooltip].help-active { cursor: help; }
[data-toggle=tooltip].help-active:hover { cursor: help; }
[data-toggle=tooltip].help-active:active { cursor: help; }
[data-toggle=tooltip].help-active * { cursor: help; }
[data-toggle=tooltip].help-active *:hover { cursor: help; }
[data-toggle=tooltip].help-active *:active { cursor: help; }

.tooltip-inner {
    white-space:pre-wrap;
    padding-bottom: 5px;
}

.tooltip-inner strong {
    display: inline-block;
    padding-bottom: 1px;
    font-size: 1.1em;
}

/*.navbar-top sup { color: #ffffff; }
.tooltip.active  { font-size: 2em; }*/


.demo-buttons .btn { margin-bottom: 10px; }

.site-u .universities-list img { border-radius: 4px; position: relative; width: 75px; height: 75px; margin: 0 20px 0 0; }
.site-u .universities-list h4 { color: #333333; }
.site-u .universities-list:hover span { text-decoration: underline; }
.login-form-links { margin-top: -10px; }
.login-form-links a { display: inline-block; margin-right: 7px; }

.university-logo img { border-radius: 8px; width: 125px; }
